<!-- Slide Menu-->
<div>
  <aside
    class="side-menu__container"
    [ngClass]="{ 'side-menu__container-active': showMenu }"
    (click)="toggleMenu(); $event.stopImmediatePropagation()"
    (keydown)="toggleMenu(); $event.stopImmediatePropagation()"
    tabindex="0"
  >
    <nav
      class="slide-menu"
      [ngClass]="{
      'slide-menu-active': showMenu,
      'slide-menu-active-dark': darkMode$ | async,
    }"
    >
      <section
        class="menu-header"
        [ngClass]="{ 'menu-header-dark': darkMode$ | async }"
      >
        <span class="greeting__text">Welcome Back</span>
        <div class="profile-image__container">
          <img
            src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png"
            alt="profile-image"
            class="profile__image"
          />
        </div>
        <div class="account-details">
          <span class="name__text">{{ userEmail }}</span>
          <span class="email__text">Free Plan</span>
        </div>
      </section>
      <section class="menu-body">
        <ul
          class="menu-links"
          [ngClass]="{ 'menu-links-dark': darkMode$ | async }"
        >
          @if (loggedIn$ | async) {
          <li
            class="menu-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink=""
            routerLinkActive="link-active"
            (click)="toggleMenu()"
            (keydown)="toggleMenu()"
            tabindex="0"
          >
            Home
          </li>
          <li
            class="menu-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/add"
            routerLinkActive="link-active"
            (click)="toggleMenu()"
            (keydown)="toggleMenu()"
            tabindex="0"
          >
            Add City
          </li>
          }
          <li
            (click)="logout()"
            (keyup)="logout()"
            tabindex="0"
            class="menu-link"
          >
            Logout
          </li>
        </ul>
      </section>

      <!-- <section class="menu-footer">
      <small class="copyright__text">Copyright © 2019 Minimus</small>
    </section> -->
    </nav>
  </aside>

  <main
    class="root__container"
    [ngClass]="{ 'root__container-dark': darkMode$ | async }"
  >
    <!-- @if (loggedIn$ | async) { -->
    <header
      [ngClass]="{ 'main__header-dark': darkMode$ | async }"
      class="main__header"
    >
      <div class="left__section">
        <svg
          (click)="toggleMenu()"
          class="hamburger__icon"
          id="Menu_Burger_Icon"
          data-name="Menu Burger Icon"
          viewBox="31.5 30 49.9 32"
        >
          <defs>
            <style>
              .hamburger__icon__fill {
                fill: #594e78;
              }
            </style>
          </defs>
          <rect
            id="Rectangle_9"
            width="49.9"
            height="4"
            [ngClass]="{ 'hamburger__icon__fill-dark': darkMode$ | async }"
            class="hamburger__icon__fill"
            data-name="Rectangle 9"
            rx="2"
            transform="translate(31.5 58)"
          ></rect>
          <rect
            id="Rectangle_10"
            width="49.9"
            height="4"
            [ngClass]="{ 'hamburger__icon__fill-dark': darkMode$ | async }"
            class="hamburger__icon__fill"
            data-name="Rectangle 10"
            rx="2"
            transform="translate(31.5 44)"
          ></rect>
          <rect
            id="Rectangle_11"
            width="49.9"
            height="4"
            [ngClass]="{ 'hamburger__icon__fill-dark': darkMode$ | async }"
            class="hamburger__icon__fill"
            data-name="Rectangle 11"
            rx="2"
            transform="translate(31.5 30)"
          ></rect>
        </svg>
        <!-- <svg class="logo__icon" viewBox="150.3 22.2 213.7 42.8">
          <path
            fill="#00ff9b"
            d="M150.3 65V22.2L193 65z"
            data-name="Path 1"
          ></path>
          <path
            fill="#003eff"
            d="M193.1 65h-42.8L193 22.2z"
            data-name="Path 2"
          ></path>
          <text
            [ngClass]="{ 'logo__text-dark': darkMode$ | async }"
            class="logo__text"
            fill="#432c85"
            font-family="SegoeUI-Semibold,Segoe UI"
            font-size="30"
            font-weight="600"
            letter-spacing=".1em"
            transform="translate(220 56)"
          >
            <tspan x="0" y="0">Mausam</tspan>
          </text>
        </svg> -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="logo__icon"
          viewBox="0 0 2500 512"
        >
          <path
            d="M298.667 192c0 11.026-11.13 20.442-13.849 30.61-2.812 10.515 2.035 24.213-3.293 33.419-5.404 9.337-19.742 11.95-27.32 19.528-7.579 7.576-10.194 21.912-19.53 27.313-9.206 5.326-22.903.476-33.417 3.287C191.095 308.873 181.686 320 170.667 320c-11.026 0-20.442-11.129-30.61-13.848-10.515-2.813-24.213 2.034-33.42-3.294-9.336-5.404-11.95-19.741-19.528-27.32-7.576-7.578-21.911-10.193-27.313-19.53-5.325-9.206-.476-22.902-3.286-33.417C53.794 212.428 42.667 203.02 42.667 192c0-11.026 11.129-20.442 13.848-30.61 2.812-10.515-2.035-24.213 3.293-33.419 5.405-9.337 19.742-11.95 27.321-19.528 7.578-7.576 10.193-21.912 19.53-27.313 9.206-5.326 22.902-.476 33.417-3.287C150.238 75.127 159.648 64 170.666 64c11.027 0 20.442 11.129 30.61 13.848 10.516 2.813 24.214-2.034 33.42 3.294 9.337 5.404 11.95 19.741 19.528 27.32 7.576 7.578 21.912 10.193 27.313 19.53 5.326 9.206.476 22.902 3.286 33.417 2.716 10.163 13.844 19.572 13.844 30.591z"
            style="fill: #ffc200"
          />
          <circle cx="170.667" cy="192" r="85.333" style="fill: #f98b00" />
          <ellipse
            cx="138.667"
            cy="160"
            rx="40.468"
            ry="20.234"
            transform="rotate(-45 138.667 160)"
            style="fill: #ffa300"
          />
          <path
            d="M447.257 302.355A140.188 140.188 0 0 0 448 288a138.667 138.667 0 0 0-138.667-138.667c-64.945 0-119.306 44.713-134.375 104.989a95.855 95.855 0 1 0-57.625 172.345h309.334a63.833 63.833 0 0 0 20.59-124.312z"
            style="fill: #bcc5ff"
          />
          <path
            d="M384 277.333a106.546 106.546 0 0 0-210.36-24.099 95.892 95.892 0 1 0-56.307 173.433c43.3 0 79.476-28.856 91.44-68.246C227.357 374.15 251.081 384 277.333 384a105.47 105.47 0 0 0 50.22-13.105A63.88 63.88 0 1 0 384 277.333z"
            style="fill: #d6deff"
          />
          <ellipse
            cx="373.333"
            cy="330.667"
            rx="37.65"
            ry="25.1"
            transform="rotate(-45 373.333 330.667)"
            style="fill: #eff2ff"
          />
          <ellipse
            cx="245.333"
            cy="245.333"
            rx="62.75"
            ry="41.834"
            transform="rotate(-45 245.333 245.333)"
            style="fill: #eff2ff"
          />
          <ellipse
            cx="85.333"
            cy="320"
            rx="50.2"
            ry="33.467"
            transform="rotate(-45 85.333 320)"
            style="fill: #eff2ff"
          />
          <!-- <text [ngClass]="{ 'logo__text-dark': darkMode$ | async }" class="logo__text" fill="#432c85"
            font-family="SegoeUI-Semibold,Segoe UI" font-size="30" font-weight="600" letter-spacing=".1em"
            transform="translate(220 56)">
            <tspan x="0" y="0">Mausam</tspan>
          </text> -->
          <text
            [ngClass]="{ 'logo__text-dark': darkMode$ | async }"
            class="logo__text"
            fill="#432c85"
            font-family="SegoeUI-Semibold,Segoe UI"
            font-size="400"
            font-weight="600"
            letter-spacing=".1em"
            transform="translate(500 300)"
          >
            <tspan x="100" y="100">Mausam</tspan>
          </text>
        </svg>
      </div>
      <h3 class="date__text">Today</h3>
      <div class="mode-toggle__container">
        <span class="mode-toggle__text">Light</span>
        <label class="toggle-button__container">
          <input
            (click)="modeToggleSwitch()"
            type="checkbox"
            class="mode-toggle__input"
          />
          <span
            [ngClass]="{ 'mode-toggle__bg-checked': darkMode$ | async }"
            class="mode-toggle__bg"
          ></span>
          <span
            [ngClass]="{ 'mode-toggle__circle-checked': darkMode$ | async }"
            class="mode-toggle__circle"
          ></span>
        </label>
        <span class="mode-toggle__text">Dark</span>
      </div>
    </header>
    <!-- } -->

    <!-- Main Content -->

    <div class="main-container__bg">
      <router-outlet></router-outlet>
    </div>
    <footer
      [ngClass]="{ 'main__footer-dark': darkMode$ | async }"
      class="main__footer"
    >
      <small class="copyright__text">Copyright © 2019 Mausam</small>
    </footer>
  </main>
</div>
